/* Temporary styling for the quiz component */

@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");

.quiz {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  border: 1px solid black;
  background-color: #fdff85;
}

.divider {
  background-color: black;
  height: 0.5px;
  border: none;
  margin: 0 10%;
}

.options_container {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  padding: 0 40px;
}

.option_button {
  font-family: "Baloo 2";
  font-size: 16px;
  flex-basis: 40%;
  margin: 5px;
  width: 100%;
  border-radius: 50px;
  padding: 10px;
  background-color: white;
  color: #03045e;
}

.option_button:hover {
  background-color: white;
  opacity: 0.7;
}

.option_button:focus {
  background-color: white;
  opacity: 0.7;
}

.option_letter {
  border-radius: 70px;
  font-weight: 800;
  font-size: 16px;
  background-color: #0077b6;
  color: white;
}

.nav_buttons_container {
  display: flex;
  justify-content: space-between;
}

.nav_button {
  font-family: "Baloo 2";
  font-weight: 800;
  flex-basis: 40%;
  margin: 3px;
  width: 100%;
  border-radius: 50px;
  background-color: #ffffffe5;
  color: #03045e;
}

.nav_button:hover {
  background-color: white;
  opacity: 0.5;
}

.score_section {
  text-align: center;
}

.results {
  text-align: left;
}

.incorrect {
  color: red;
}

.correct {
  color: green;
}

.question_text {
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  color: white;
}

.quiz_image {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.module_caption {
  font-family: "Baloo 2";
  font-size: 14px;
  color: 03045E;
  flex-basis: 40%;
  margin: 3px;
  width: auto;
  border-radius: 50px;
  padding: 10px;
  text-align: center;
  background-color: white;
}

/* Styling for the pop up component - we will probably want to move this / redo all styling later */

.popup {
  /*position: fixed;*/
  z-index: 1;
  width: 100%;
  height: 100%;
}

.popup_content {
  background-color: #0077b6;
  /* position: absolute; */
  top: 20%;
  left: 30%;
  /* width: 40%; */
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
}

.header {
}

.description {
}

.close_button {
}

.close_span {
  color: Black;
  float: right;
}

.close_span:hover {
  color: red;
  cursor: pointer;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: black;
}
