.signup_button {
    position: absolute;
    top: 0;
    right: 0;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 67.5vw;
    height: 67.5vh;
    background-color: #0077B6;
    border: 5px solid #FFFFFF;  /* removed cause no border line in figma file */
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.credentials_box {
    background-color: #FFFFFF;
    border-radius: 1rem;
    width: 45%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:relative;
    text-align: center;
    padding-top: 3rem;
}

.credentials_box p{
    margin: 1%;
    margin-top:3%;
}

.button {
    background-color: #FFFFFF;
    box-shadow: none;
    text-transform: none;
    border-radius: 2rem;
    color: #03045E;
    margin-top: 2.5%;
    font-size: 1.2rem;
    padding: 1.5%;
    width: 35%;
    font-weight: 600; 
}


#cursor {
    cursor:pointer;
}

.input_field {
    background-color: #CCE4F0;
    border-style: none;
    /* padding: 1%; */
    position:relative;
    width:63%;
    height:16%;
    margin:2%;
    border-radius: 25px;
    outline:none;
    color:white;
}

/* Avatar */
.avatar {
    position: absolute;
    height: 6rem;
    width: 6rem;
    left: 50%;
    margin-left: -3rem;
    top: -3rem;
}
