.signup_button {
    position: absolute;
    top: 0;
    right: 0;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 67.5vw;
    height: 62vh;
    background-color: #0077B6;
    border: 5px solid #FFFFFF;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.credentials_box {
    background-color: #FFFFFF;
    border-radius: 1rem;
    width: 45%;
    height: 40%;
}

.button {
    background-color: #FFFFFF;
    border-radius: 1rem;
    color: #03045E;
}