html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Need to move this styling into a separate sheet for the island-svg */
#island-svg {
  display: block;
  margin: auto;
  width: 60%;
}

.island-section-svg {
  fill-opacity: 0;
}

.island-section-svg:hover {
  stroke: rgb(255, 247, 96);
  stroke-width: 10px;
  cursor: pointer;
}

/* Chuck the css for the profile button here*/
