html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Need to move this styling into a separate sheet for the island-svg */
#island-svg {
  display: block;
  margin: auto;
  width: 60%;
}

.island-section-svg {
  fill-opacity: 0;
}

.island-section-svg:hover {
  stroke: rgb(255, 247, 96);
  stroke-width: 10px;
  cursor: pointer;
}

/* Chuck the css for the profile button here*/
.profileButton {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  width: 210px;
  border-radius: 40px;
  border: 3px solid #0077b6;
}

.profileButton:hover {
  cursor: pointer;
}

.profileButtonPic {
  text-align: center;
  padding: 10px;
  width: 40px;
}

.profileButtonWords {
  text-align: center;
  padding: 10px;
  width: 170px;
}

.imageCircle {
  background-color: lightblue;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
